<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/sample.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div class="main-content">
             {{>header}}
            <h2>{{title}}</h2>
            <h3>{{name}}</h3>
            <p>This site is created by Shubham Jain.It uses data from mapbox.com and and openweathermap.</p>
        </div>
         
        {{>footer}}
    </body>
</html>